/****** General ***********/
@media (max-width: 3000px) and (min-width: 320px) {
    * {
        font-family: 'Raleway', sans-serif;
    }
    
    :root {
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
    }
    
    .fa-solid {
        color: var(--main-color);
    }
    
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 10px 30px 0;
    }
    
    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    .section-title {
        margin: 0;
        font-size: 22px;
    }
    
    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        -webkit-filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
                filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    
    .card img {
        -o-object-fit: cover;
           object-fit: cover;
    }
    
    .card-title {
        font-size: 16px;
    }
    
    .euro {
        font-weight: 700;
    }
    
    .neutral-star {
        color: var(--main-bg-color)
    }
    
    /****** En-tête ***********/
    .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .top img {
        height: 30px;
    }
    
    .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-top: 10px;
    }
    
    .nav :nth-child(1) {
        margin-right: 30px;
        padding-top: 2px;
        
    }
    
    .nav :nth-child(2) {
        padding-top: 2px;
    }
    
    .nav a:hover {
        border-top: 2px solid var(--main-color);
        padding-top: 20px;
        color: var(--main-color);
    }
    
    /****** Recherches ***********/
    .research-bar {
        margin: 25px 0;
    }
    
    /****** Localisation ***********/
    .left-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .map-logo {
        background-color: var(--main-bg-color);
        color: black;
        border-radius: 10px 0 0 10px;
        height: 44px;
        width: 45px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: -2px;
    }
    input {
        height: 40px;
        /*padding-top: -5px;*/
        padding-left: 10px;
        font-weight: bold;
        border-left-style: hidden;
        border-color: rgba(135, 135, 135, 0.1);
        border-width: thin;
    }
    
    .find {
        background-color: var(--main-color);
        color: white;
        border-radius: 0 10px 10px 0;
        padding: 0 10px;
        font-weight: bold;
        height: 44px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: -2px;
        border: 0px;
    }
    
    .material-symbols-outlined {
        display: none;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 20;
    }
    
    /****** Filtre de recherche ***********/
    .buttons {
        margin: auto;
    }
    .content-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-align: flex-end;
        -ms-flex-align: end;
        align-items: baseline;
    }
    .content-box-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .content-box p {
        font-weight: bold;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .content-box button:hover {
        background-color: var(--filter-bg-color);
    }
    .content-box button {
        background-color: white;
        color: black;
        border-radius: 20px;
        border: 2px solid #e7e7e7;
        height: 40px;
        margin-left: 20px;
        margin-bottom: 10px;
        padding: 0 10px 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: bold;
        
    }
    .content-box i {
        width: 40px;
        border: 1px solid var(--lightblue);
        color: var(--main-color);
        border-radius: 50%;
    }
    
    /****** Points info dispo ***********/
    .informations {
        /*Logo info + texte */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 20px 0;
    }
    .information-i {
        margin-right: auto;
    } 
    .informations-i i{
        /*Logo info*/
        width: 25px;
        background-color: white;
        border: 1px solid grey;
        color: var(--main-color);
        border-radius: 50%;
        margin-right: 5px;
        padding: 5px 2px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        
    }
    .informations p {
        font-size: smaller;
    }
    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    /****** Hebergements ***********/
    #hebergements {
        width: 65%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .ht {
        width: 100%;
        margin-top: -3%;
    }
    
    .ht h2 {
        font-size: 22px;
    }
    
    .hebergements-am {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        width: 100%;
        margin-top: 18px;
    }
    
    .ham {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        row-gap: 30px;
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        
    }
    
    .ham-cards {
        width: 30%;
        height: auto;
        padding-bottom: 10px;
    }
    
    .ham img {
        width: 100%;
        height: 110px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    
    .ham-cards-content {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding-left: 10px;
        padding-top: 5px;
        margin-bottom: 2px;
    
    }
    
    .ham-title {
        font-size: smaller;
        margin-top: 0;
    }
    
    .ham-subtitle {
        font-size: smaller;
        margin-bottom: 0;
    }
    
    .af {
        margin-top: 37px;
        padding-bottom: 0;
    }
    /****** Populaires ***********/
    .populaires {
        width: 32%;
    }
    
    .populaires-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .populaires-cards .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 33px;
    }
    
    .populaires-cards img {
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .card-content {
        width: 67%;
        padding-left: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    
    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }
    
    .populaires-cards .card-subtitle {
        margin: 0;
    }
    
    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }
    
    /****** Activités à Marseille ***********/
    #activites {
        display: -ms-grid;
        display: grid;
        grid-auto-flow: column;
        -ms-grid-columns: 22.2% 2% 22.2% 2% 22.2% 2% 22.2%;
        grid-template-columns: repeat(4, 22.2%);
        -ms-grid-rows: 0fr 10px 0fr;
        grid-template-rows: repeat(2, 0fr);
        row-gap: 10px;
        -webkit-column-gap: 2%;
           -moz-column-gap: 2%;
                column-gap: 2%;
        margin: 50px 0 50px 25px;
        width: 100%;
        height: auto;
    }
    #activites > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #activites > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    #activites > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    #activites > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    #activites > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    #activites > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }
    #activites > *:nth-child(7) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
    }
    #activites > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 7;
    }
    
    .aci {
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-column: 1 / 5;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
    }
    
    .ac2, .ac3, .ac4, .ac5 {
        width: 100%;
        height: 24em;
        padding: 0;
    }
    
    #activites img {
        width: 100%;
        height: 87%;
        -o-object-fit: cover;
           object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    #activites h3 {
        font-size: 13px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .ac-cards-title {
        padding-left: 10px;
    }
    
    /****** Pied de page ***********/
    .end {
        padding-top: 20px;
        margin-top: 20px;
        width: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        background-color: var(--main-bg-color);
        
    }
    
    .end > div {
        display: -ms-grid;
        display: grid;
        row-gap: 10px;
        padding-bottom: 20px;
    }

    .end1 {
        padding-left: 10px;
    }
    }
    /* Le code ci-dessous correspond à la version responsive uniquement */
    
    /****** Media queries ***********/
    /* Medium devices (tablets, less/equal than 1024px) */
    @media (max-width: 1024px) {
        .hebergements-and-populaires {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    
        #hebergements {
            width: 100%;
        }
    
        .populaires {
            width: 100%;
            margin-top: 40px;
        }
    
        .populaires-cards {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
    
        .populaires-cards a {
            width: 30%;
        }
    
        .populaires-cards .card-title {
            font-size: 14px;
        }
    
        .populaires-cards .card-subtitle {
            font-size: 13px;
        }
    
        #activites {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            margin-right: 20px;
        }

        .aci {
            width: 100%;
            
        }
        .ac2, .ac3, .ac4, .ac5 {
            width: 20%;
            height: 17em;
            margin-right: 22px;
        }
    
        #activites img {
            height: 14em;
        }

        #activites h3 {
            font-size: 12px;
        }  
    }
    
    /* Small devices (phones, less than 768px) */
    @media (max-width: 767.98px) and (min-width: 320px) {
    body {
        margin: 0;
    }
    .main-container {
        padding-top: 30px;
        
    }
    
    /****** En-tête ***********/
    .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: auto;
    }
    
    .top img {
        height: 20px;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-top: 20px;
    }

    .nav :nth-child(1) {
        margin-top: auto;
        padding-top: 0;
    }
    
    .nav :nth-child(1) {
        margin-top: auto;
        padding-top: 0;
    }

    .nav a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        padding-bottom: 5px;
        color: var(--main-color);
    }

    .research  {
        padding: 0 30px;
    }
    /****** Recherches ***********/
    .research-info h1 {
        font-size: 30px;
    }

    .map-logo {
        min-width: 44px;
        max-width: 44px;
    }

    form, input {
        width: 100%;
    }


    /****** Localisation ***********/
    .find {
        display: none;
    }
    
    .material-symbols-outlined {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: var(--main-color);
        color: white;
        border-radius: 10px;
        padding: 0 10px;
        font-weight: bold;
        height: 44px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: -2px;
        border: 0px;
    }
    
    /****** Filtre de recherche ***********/
    .content-box {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 50% 10px 50% 10px 50% 10px 50%;
        grid-template-columns: repeat(4, 50%);
        /*grid-template-rows: repeat(3, 100%);*/
        row-gap: 10px;
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
    }

    .content-box p {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-column: 1 / span 4;
        
    }

    .content-box button {
        width: 100%;
        margin-left: 0;
    }
 
    .cb-eco {
        -ms-grid-row: 2;
        grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / span 1;
        margin-right: 5px;
        width: 100%;
    }

    .cb-fam {
        -ms-grid-row: 2;
        grid-row: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / span 1;
    }

    .cb-rom {
        margin-left: 0;
        -ms-grid-row: 3;
        grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / span 1;
    }

    .cb-pep {
        -ms-grid-row: 3;
        grid-row: 3;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2 / span 1;
    }
        
    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-flow: column-reverse;
                flex-flow: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }
    
    .ham-cards {
        padding: 0;
    }
    
    /****** Hebergements ***********/
    #hebergements {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        background-color: white;
    }
    
    .ht h2 {
        font-size: large;
    }
    
    .hebergements-am {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
    
    .ham-cards {
        width: 100%;
        padding-bottom: 10px;
    }
    /****** Populaires ***********/
    .populaires-cards {
        width: 100%;
        display: inline;
    }

    .populaires-cards img {
        width: 45%;
    }
    
    .card-content {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
    /****** Activités à Marseille ***********/
    #activites {
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        row-gap: 30px;
        background-color: white;
        border-radius: 20px;
        padding: 30px;
        margin: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    
    }
    
    #activites img {
        height: 110px;    
    }
    
    .aci {
        font-size: smaller;
    }
    .ac2, .ac3, .ac4, .ac5 {
        height: auto;
        width: auto;
        margin-right: 0;
    }
    
    .ac-cards-title {
        background-color: white;
    }
    /****** Pied de page ***********/
    .end {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        padding-top: 20px;
    }
    
    .end > div {
        display: -ms-grid;
        display: grid;
        row-gap: 10px;
        margin-bottom: 20px;
        margin-left: 30px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        font-size: smaller;
    }

    .end1 {
        padding-left: 0;
    }
    } 
    
